.background-image {
    background-image: url("https://e0.pxfuel.com/wallpapers/375/101/desktop-wallpaper-flowers-bokeh-yellow-green-pink-colorful-dark-6000-x-4000-px-background.jpg");
}

.bg-green-light {
    background-color: rgb(188, 238, 188);
}

.bg-green-darker {
    background-color: #0a452a;
}

.main-color{
    background-color: rgb(25,135,84);;
}